<div class="container">
  <div class="admin-customer pt-5">
    <h2><mark>応募者一覧</mark></h2>
    <table class="table">
      <tr class="table-active">
        <th>アイコン</th>
        <th>名前</th>
        <th>ナマエ</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
      </tr>
      <% @persons.each do |person| %>
      <tr>
        <td>
          <%= image_tag person.get_profile_image(50,50) %>
        </td>
        <td>
          <%= link_to person.full_name,admin_person_path(person), class: "text-dark"%>
        </td>
        <td><%= person.full_name_kana%></td>
        <td><%= person.telephone_number %></td>
        <td><%= person.email%></td>
      </tr>
    <% end %>
    </table>
    <div class="pagination justify-content-center">
     <%= paginate @persons, theme: 'bootstrap-5'%>
    </div>
  </div>
</div>