<div class="container">
  <div class="admin-customer pt-5">
    <h2><mark>応募者一覧</mark></h2>
    <table class="table">
      <tr class="table-active">
        <th>アイコン</th>
        <th>名前</th>
        <th>ナマエ</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
      </tr>
      <% @entries.each do |entry| %>
      <tr>
        <td>
          <%= image_tag entry.person.get_profile_image(50,50) %>
        </td>
        <td>
          <%= link_to entry.person.full_name,group_person_path(entry.person), class: "text-dark"%>
        </td>
        <td><%= entry.person.first_name_kana %><%= entry.person.last_name_kana%></td>
        <td><%= entry.person.telephone_number %></td>
        <td><%= entry.person.email%></td>
      </tr>
    <% end %>
    </table>
    <div class="pagenate">
    </div>
  </div>
</div>