<div class="container">
  <div class="pt-5">
    <h2><mark><%= @person.full_name %>さんの詳細</mark></h2>
    <%= image_tag @person.get_profile_image(100,100), class:"rounded-circle" %>
    <table class="table table-bordered mt-4 row">
      <tr>
        <td class="table-active border border-dark col-2">氏名</td>
        <td class="border border-dark col-10"><%= @person.full_name %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">フリガナ</td>
        <td class="border border-dark"><%= @person.full_name_kana%></td>
      </tr>
       <tr>
        <td class="table-active border border-dark">電話番号</td>
        <td class="border border-dark"><%= @person.telephone_number %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">年齢</td>
        <td class="border border-dark"><%= @person.age(@person.birthday) %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">得意な楽器</td>
        <td class="border border-dark"><%= @person.favorite_instrument %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">楽器の有無</td>
        <td class="border border-dark"><%= @person.instrument_existence %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">楽器の有無</td>
        <td class="border border-dark"><%= @person.self_introduction %></td>
      </tr>
       <tr>
        <td class="table-active border border-dark">メールアドレス</td>
        <td class="border border-dark"><%= @person.email %></td>
      </tr>
  </div>
</div>
