<div class="container mt-4">
  <div class="form-horizontal">
    <h2><mark>団体情報編集</mark></h2>
      <%= form_with model: @team,url: group_team_path(@team), method: :PATCH, class: "col-10", local: true do |f| %>
        <div class="bg-light mt-3">
          <div class="form-group">
            <%= f.label "ヘッダー画像", class: "mt-4 col-3 ms-4" %>
            <%= f.file_field :header_image,class: "col-4 me-4 mt-4" %>
          </div>¥
          <div class="form-group">
            <%= f.label "プロフィール画像", class: "mt-4 col-3 ms-4" %>
            <%= f.file_field :profile_image,class: "col-4 me-4 mt-4" %>
          </div>

          <div class="form-group">
            <%= f.label "楽団名", class: "mt-4 col-3 ms-4" %>
            <%= f.text_field :name, autocomplete: "name", placeholder: "BandMan",class: "col-2 me-4 mt-4" %>
          </div>

          <div class="form-group">
            <%= f.label "バンドの人数", class: "mt-4 col-3 ms-4" %>
            <%= f.select :count, *[1..70] ,class: "me-4 col-2 mt-4"%>
          </div>

          <div class="form-group">
            <%= f.label "ジャンル", class: "mt-4 col-3 ms-4" %>
            <%= f.select :genre, Team.genres.keys, {} ,class:"me-4 col-2 mt-4"%>
          </div>

          <div class="form-group">
            <%= f.label "活動エリア", class: "mt-4 col-3 ms-4" %>
            <%= f.select :area, Team.areas.keys, {} ,class:"me-4 col-2 mt-4"%>
          </div>

          <div class="form-group">
            <%= f.label "楽団の平均年齢", class: "mt-4 col-3 ms-4" %>
            <%= f.text_field :age, autocomplete: "age",class: "me-4 col-2 mt-4" %>歳
          </div>

          <div class="form-group">
            <%= f.label "募集パート", class: "mt-4 col-3 ms-4" %>
            <%= f.text_field :part, autocomplete: "part", placeholder: "ギター経験2年、ベース経験1年",class: "me-4 col-8 mt-4" %>
          </div>

          <div class="form-group">
            <%= f.label "募集条件", class: "mt-4 col-3 ms-4" %>
            <%= f.text_field :condition, autocomplete: "condition", placeholder: "18歳以上、未経験歓迎",class: "me-4 col-8 mt-4"%>
          </div>

          <div class="form-group">
            <%= f.label "活動費用", class: "mt-4 col-3 ms-4" %>
            <%= f.text_field :cost, autocomplete: "cost",class: "me-4 col-2 mt-4"%>円
          </div>

          <div class="form-group">
              <%= f.label :email, class:"mt-4 col-3 ms-4" %>
              <%= f.email_field :email, autocomplete: "email", placeholder: "hanako.yanmada@gmail.com", class:"me-4 col-3 mt-4" %>
          </div>

          <div class="form-group">
            <%= f.label "練習日", class: "mt-4 col-3 ms-4" %>
            <%= f.text_field :practice_date, autocomplete: "practice_date", placeholder: "毎週日曜日",class: "me-4 col-2 mt-4" %>
          </div>

          <div class="form-group">
            <%= f.label "練習場所", class: "mt-4 col-3 ms-4" %>
            <%= f.text_field :practice_area, autocomplete: "practice_area", placeholder: "〇〇ホール",class: "me-4 col-2 mt-4"%>
          </div>

          <div class="form-group">
            <%= f.label "演奏先", class: "mt-4 col-3 ms-4" %>
            <%= f.text_field :location, autocomplete: "location", placeholder: "〇〇ホール",class: "me-4 col-2 mt-4 mb-3" %>
          </div>

          <div class="form-group row">
            <%= f.label "楽団説明", class: "col-3 mb-4 ms-4" %>
            <%= f.text_area :introduction, autocomplete: "introduction", placeholder: "楽団の説明をしよう",class: "col-8 me-4 ms-2 mb-4" %>
          </div>
        </div>
      <%= f.submit "編集を保存", class: "btn btn-success col-2 mt-4 mb-3" %>
    <% end %>
  </div>
</div>