<div class="container row mx-auto mt-4">
  <div class="signin text-center bg-light py-4 px-3 col-md-6 mx-auto rounded">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  <div class="field mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control",placeholder:"name@example.com"%>
  </div>

  <div class="field mb-3">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password",class:"form-control",placeholder:"password"%>
  </div>

  <%= f.submit "Sign in", class: "mt-4 btn btn-primary" %>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
<% end %>

<%= render "people/shared/links" %>
  </div>
</div>
