<div class="container">
  <div class="form-horizontal">
    <h2><mark>新規会員登録</mark></h2>
    <div class="mt-5">
      <%= form_with model: @team, url: team_registration_path, local: true  do |f| %>
      <%= render "group/shared/error_messages", resource: resource %>
      
      <div class="form-group row">
      <%= f.label "楽団名", class: "col-3" %>
      <%= f.text_field :name, autocomplete: "name", placeholder: "BandMan",class: "col-2 me-4" %>
      </div>
      
      <!--integerのテキストボックスを作る-->
     
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, , placeholder: "hanako.yanmada@gmail.com", autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
     </div>
  </div>
</div>
