<div class="container">
  <div class="admin-customer pt-5">
     <h2><mark>ブックマークしたチーム</mark></h2>
    <table class="table">
      <tr class="table-active">
        <th>団体名</th>
        <th>活動エリア</th>
        <th>ジャンル</th>
        <th>メールアドレス</th>
      </tr>
      <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>
          <%= link_to bookmark.team.name, people_team_path(bookmark.team),  class: "text-dark"%>
        </td>
        <td><%= bookmark.team.area%></td>
        <td><%= bookmark.team.genre %></td>
        <td><%= bookmark.team.email%></td>
      </tr>
    <% end %>
    </table>
    <div class="pagination justify-content-center">
     <%= paginate @bookmarks, theme: 'bootstrap-5'%>
    </div>
  </div>
</div>