<div class="container mt-5 mb-5">
  <div class="card mb-3 mx-auto">
    <%= image_tag @team.get_header_image(500,500)%>
      <div class="card-body">
        <h3 class="card-title display-6"><%= @team.name%></h3>
        <p class="card-text">楽団説明</p>
        <p class="card-text"><small class="text-muted">更新日:<%= @team.updated_at.to_s(:datetime_jp)%></small></p>
      </div>
  </div>
<%= image_tag @team.get_profile_image(100,100), class:"rounded-circle" %>
  <table class="table table-bordered mt-4">
    <tr>
      <td class="table-active border border-dark">ジャンル</td>
      <td class="border border-dark"><%= @team.genre%></td>
    </tr>
    <tr>
      <td class="table-active border border-dark">募集パート</td>
      <td class="border border-dark"><%= @team.part%></td>
    </tr>
    <tr>
      <td class="table-active border border-dark">募集条件</td>
      <td class="border border-dark"><%= @team.condition%></td>
    </tr>
    <tr>
      <td class="table-active border border-dark">活動費用（毎月）</td>
      <td class="border border-dark"><%= @team.cost%>円</td>
    </tr>
    <tr>
      <td class="table-active border border-dark">練習日</td>
      <td class="border border-dark"><%= @team.practice_date%></td>
    </tr>
    <tr>
      <td class="table-active border border-dark">練習場所</td>
      <td class="border border-dark"><%= @team.practice_area%></td>
    </tr>
    <tr>
      <td class="table-active border border-dark">活動エリア</td>
      <td class="border border-dark"><%= @team.area%></td>
    </tr>
    <tr>
      <td class="table-active border border-dark">バンド人数</td>
      <td class="border border-dark"><%= @team.count%></td>
    </tr>
    <tr>
      <td class="table-active border border-dark">連絡先</td>
      <td class="border border-dark"><%= @team.email%></td>
    </tr>
    <tr>
      <td class="table-active border border-dark">主な演奏先</td>
      <td class="border border-dark"><%= @team.location%></td>
    </tr>
  </table>
  <% if person_signed_in?%>
      <% if @team.bookmarked_by?(current_person) %>
        <%= link_to "ブックマークを外す", people_team_bookmarks_path(@team), method: :delete, class: "btn btn-danger mb-4" %>
      <% else %>
        <%= link_to "ブックマーク", people_team_bookmarks_path(@team), method: :post, class: "btn btn-success mb-4" %>
      <% end %>
      
      <% if @team.entried_by?(current_person) %>
        <%= link_to "応募を取り消す", people_team_entries_path(@team), method: :delete , class: "btn btn-danger mb-4 ms-5"%>
      <% else %>
        <%= link_to "応募する", people_team_entries_path(@team), method: :post , class: "btn btn-success mb-4 ms-5"%>
      <% end %>
  <% end %>
  <%= link_to "チームの活動日誌", user_index_people_journal_path(@team), class: "btn btn-primary mb-4 ms-5"%>
</div>