<div class="container">
  <h2>情報確認</h2>
  <div class="row">
    <div class="col-md-9">
     <table class="table table-bordered border-dark">
      <thead>
        <tr>
            <th class="table-active border border-dark">名前</th>
            <th class="table-active border border-dark">ナマエ</th>
            <th class="table-active border border-dark">電話番号</th>
            <th class="table-active border border-dark">メールアドレス</th>
        </tr>
        </thead>
        <tbody>
         <% @persons.each do |person| %>
          <tr>
            <td class="border border-dark"><%= person.first_name%><%= person.last_name%></td>
            <td class="border border-dark"><%= person.first_name_kana%><%= person.last_name_kana%></td>
            <td class="border border-dark"><%= person.telephone_number %></td>
             <td class="border border-dark"><%= person.email %></td>
          </tr>
         <% end %>
        </tbody>
     </table>
    </div>
  </div>


    <div class ="col-11 text-center mt-5">
        <%= form_with model:@person, url:group_persons_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :last_name %>
          <%= f.hidden_field :first_name %>
          <%= f.hidden_field :last_name_kana %>
          <%= f.hidden_field :first_name_kana %>
          <%= f.hidden_field :telephone_number %>
          <%= f.hidden_field :email %>
          <%= f.submit "情報を送る", class: "btn btn-info" %>
        <% end %>
    </div>
   </div>
</div>