<div class="container mt-4">
 <h2><mark><%= @journal.team.name%>の活動日誌</mark></h2>
 <div class="card mb-3 mt-4 w-50 mx-auto">
    <%= image_tag @journal.activity_image,class:"card-img-top"%>
    <div class="card-body">
      <h5 class="card-title"><%= image_tag @journal.team.get_profile_image(50,50), class:"rounded-circle" %>:<%= @journal.team.name%></h5>
      <p class="card-text"><%=@journal.journal %></p>
      <p class="card-text"><small class="text-muted"><%= @journal.created_at.to_s(:datetime_jp)%></small></p>
      <p><%= link_to 'このユーザーの詳細へ', group_team_path(@journal.team_id)%></p>
       <% @journal_tags.each do |tag| %>
       <i class="fa-solid fa-tag"></i>
       <%= link_to tag.name,search_tag_group_journals_path(tag_id: tag.id)%>
       <% end %>
    </div>
  </div>
 </div>