<!DOCTYPE html>
<html>
  <head>
    <title>BandComu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/25656e409a.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
          <i class="fa-regular fa-music"></i>
          <%= link_to "BandComu", top_path, class: 'navbar-brand' %>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <% if team_signed_in? %>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <%= link_to "Home", top_path, class: 'nav-link active' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "マイページ",  group_team_path(current_team), class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "チーム一覧", group_teams_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "応募者一覧", group_persons_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "活動日誌", new_group_journal_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_team_session_path, method: :delete, class: 'nav-link' %>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>

              <% elsif person_signed_in? %>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <%= link_to "Home", top_path, class: 'nav-link active' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "マイページ",  people_person_path(current_person), class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "チーム一覧", people_teams_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "活動日誌", people_journals_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ブックマーク一覧", bookmarks_people_teams_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "応募一覧", entries_people_teams_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_person_session_path, method: :delete, class: 'nav-link' %>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <%= form_with url: people_teams_path, method: :get,class: "d-flex mt-3 mt-lg-0", local: true do |f| %>  <!--検索フォーム-->
                  <%= f.text_field :q, placeholder: '名前を入力...',class: "form-control me-2" %>
                  <%= f.submit ("Search"),class: "btn btn-outline-success" %>
                <% end %>

                <% elsif admin_signed_in? %>
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                    <%= link_to "Home", top_path, class: 'nav-link active' %>
                    </li>
                    <li class="nav-item">
                    <%= link_to "チーム一覧", admin_teams_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "活動日誌",admin_journals_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                  </ul>
                    <%= form_with url: people_teams_path, method: :get,class: "d-flex mt-3 mt-lg-0", local: true do |f| %> <!--検索フォーム-->
                      <%= f.text_field :q, placeholder: '名前を入力...',class: "form-control me-2" %>
                      <%= f.submit ("Search"),class: "btn btn-outline-success" %>
                    <% end %>

                <% else %>
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <%= link_to '個人ゲストログイン（閲覧用）', people_guest_sign_in_path, method: :post , class: 'nav-link'%>
                    </li>
                    <li class="nav-item">
                      <%= link_to '団体ゲストログイン（閲覧用）', group_guest_sign_in_path, method: :post , class: 'nav-link'%>
                    </li>
                    <li class="nav-item">
                      <%= link_to "活動日誌",people_journals_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "団体新規登録",new_team_registration_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "個人新規登録",new_person_registration_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                       <%= link_to "団体ログイン",new_team_session_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "個人ログイン", new_person_session_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                  </ul>
                    <%= form_with url: people_teams_path, method: :get,class: "d-flex mt-3 mt-lg-0", local: true do |f| %> <!--検索フォーム-->
                      <%= f.text_field :q, placeholder: '名前を入力...',class: "form-control me-2" %>
                      <%= f.submit ("Search"),class: "btn btn-outline-success" %>
                    <% end %>
                <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>


  <main>
    <% if flash[:notice] %><!--フラッシュメッセージ-->
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </main>

    <%= yield %>
</html>
